/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/* Normalize */
@import url('./lib/normalize.css');

*, *:after, *:before {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

/* Undraw Colors */
:root {
    --undraw-handcraft-green: #A0FFF0;
    --undraw-handcraft-red: #F5A9C4;
    --undraw-handcraft-violet: #CBC8FD;
    --undraw-handcraft-blue: #A9AFF5;
    --undraw-handcraft-yellow: #F7DDB4;

    --undraw-green: #00BFA6;
    --undraw-orange: #F9A826;
    --undraw-violet: #6C63FF;
    --undraw-blue: #536DFE;
    --undraw-red: #F50057;
    --undraw-skyblue: #00B0FF;
}

/* Bootstrap Colors */
:root {
    /* Hidden colors */
    --bootstrap-purple: #563d7c;
    --bootstrap-skyblue: #5bc0de;
    --bootstrap-yellow: #f0ad4e;

    /* Basic colors */
    --bootstrap-bg-primary: #007bff;
    --bootstrap-bg-info: #17a2b8;
    --bootstrap-bg-light: #f8f9fa;
    --bootstrap-bg-danger: #dc3545;
    --bootstrap-bg-dark: #343a40;
}

/* Firebase Colors */
:root {
    --firebase-yellow: #FFCA28;
    --firebase-amber: #FFA000;
    --firebase-orange: #F57C00;
    --firebase-coreal: #FF8A65;
    --firebase-gray: #ECEFF1;
    --firebase-navy-blue: #2C384A;
}

:root {
    --default-purple: #373295;
    --default-white: #fcfcfc;
    --default-black: #404040;
    --default-blue: #1B3C59;
    --default-green: #9bd4ae;
    --default-orange: #eb9e5c;
    --default-yellow: #F0F0A8;
    --default-pink: #F2A999;
    --default-red: #f84e3f;
    --default-shadow-gray: #a6a6a6;
}

/* the same color but more clear */
:root {
    --shadow-clear: #d9d9d9;
    --red-clear: #fde9e7;
    --white-clear: #fafafa;
    --orange-clear: #ffc999;
    --yellow-clear: #ffff80;
}

body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--bootstrap-bg-dark);
    background-color: var(--bootstrap-bg-light);
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background-color:  var(--default-black);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--undraw-green);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #009985;
}

body::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

img {
    width: 100%;
    pointer-events: none;
    vertical-align: middle;
}

a, li, ul, ol {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    cursor: pointer !important;
    width: fit-content;
}

label {
    display: block;
}

[pointer] {
    cursor: pointer;
}

.flex {
    display: flex;
}